
$primaryColor: #FF0000;

body {
  h1 {
    color: $primaryColor; 
  }
}

body {
  font-family: Verdana;
  font-size: 1.5em;
}

#team-members {
  clear: both;
}

#team-members .member {
  float: left;
  /*border: 1px solid gray;*/
  margin: 10px;
  padding: 6px;

}

#team-members .member img {
  width: 200px;
  height: 200px;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 25px;
}
#team-members .member img:hover {
  opacity: 0.3; 
  filter: alpha(opacity=30);
  cursor: pointer;
  
  transform: scale(1.1) rotateZ(5deg);

}

#team-members .member div.name {
  text-align: center;  
}
